usermodel;

import mongoose from 'mongoose';
import bcrypt from 'bcrypt';
import validator from 'validator';

const { Schema } = mongoose;
const userSchema = new Schema(
  {
    username: {
      type: String,
      required: [true, 'Username area is required'],
      lowercase: true,
      validate: [validator.isAlphanumeric, 'Only Alphanumeric characters'],
      unique: true,
    },
    email: {
      type: String,
      required: [true, 'Email area is required'],
      unique: true,
      validate: [validator.isEmail, 'Valid email is required'],
    },
    password: {
      type: String,
      required: [true, 'Password area is required'],
      minLength: [4, 'At least 4 characters'],
    },
    profilePhoto: {
      type: String, // Fotoğrafın dosya yolunu tutacak
      default: "/images/team1.jpg", // Varsayılan bir profil fotoğrafı
    },
    profilePhotoId: {
      type: String,
    },
    followers: [
      {
        type: Schema.Types.ObjectId,
        ref: 'User',
      },
    ],
    followings: [
      {
        type: Schema.Types.ObjectId,
        ref: 'User',
      },
    ],
  },
  {
    timestamps: true,
  }
);

userSchema.pre('save', function (next) {
  const user = this;
  console.log("user pass1", user.password);
  bcrypt.hash(user.password, 10, (err, hash) => {
    user.password = hash;
    console.log("user pass2", user.password);
    next();
  });
});

const User = mongoose.model('User', userSchema);
export default User;

usercontroller;
import User from '../models/userModel.js';
import bcrypt from 'bcrypt';
import jwt from 'jsonwebtoken';
import Photo from '../models/photoModel.js';
import { v2 as cloudinary } from 'cloudinary';
import fs from 'fs';

const createUser = async (req, res) => {

  try {
    const user = await User.create(req.body);
    res.status(201).json({ user: user._id });

  } catch (error) {
    console.log('ERROR', error);
    let errors2 = {};
    if (error.code === 11000) {
      errors2.email = 'The Email or Username is already registered';
    }
    if (error.name === 'ValidationError') {
      Object.keys(error.errors).forEach((key) => {
        errors2[key] = error.errors[key].message;
      });
    }
    res.status(400).json(errors2);
  }
};
const loginUser = async (req, res) => {

  try {
    const { username, password } = req.body;

    const user = await User.findOne({ username });
    let same = false;

    if (user) {
      same = await bcrypt.compare(password, user.password);
      
    } else {

      return res.status(401).json({
        succeded: false,
        error: 'There is no such user',
      });
    }

    if (same) {
      const token = createToken(user._id);
      res.cookie('jwt', token, {
        httpOnly: true,
        maxAge: 1000 * 60 * 60 * 24,
      });

      
      res.redirect('/users/dashboard');

    } else {
      res.status(401).json({
        succeded: false,
        error: 'Paswords are not matched',
      });
    }

  } catch (error) {
    res.status(500).json({
      succeded: false,
      error,
    });
  }
};
const createToken = (userId) => {
  return jwt.sign({ userId }, process.env.JWT_SECRET, {
    expiresIn: '1d',
  });
};

const getDashboardPage = async (req, res) => {
  const photos = await Photo.find({ user: res.locals.user._id });
  const user = await User.findById({ _id: res.locals.user._id }).populate([
    'followings',
    'followers',
  ]);
  res.render('dashboard', {
    link: 'dashboard',
    photos,
    user,
  });
};
const getAllUsers = async (req, res) => {
  try {
    const users = await User.find({ _id: { $ne: res.locals.user._id } });
    res.status(200).render('users', {
      users,
      link: 'users',
    });
  } catch (error) {
    res.status(500).json({
      succeded: false,
      error,
    });
  }
};
const getAUser = async (req, res) => {
  try {
    const user = await User.findById({ _id: req.params.id });
    const inFollowers = user.followers.some((follower) => {
      return follower.equals(res.locals.user._id);
    });
    const photos = await Photo.find({ user: user._id });
    res.status(200).render('user', {
      user,
      photos,
      link: 'users',
      inFollowers,
    });
  } catch (error) {
    res.status(500).json({
      succeded: false,
      error,
    });
  }
};
const follow = async (req, res) => {
  // res.locals.user._id
  try {
    let user = await User.findByIdAndUpdate(
      { _id: req.params.id },
      {
        $push: { followers: res.locals.user._id },
      },
      { new: true }
    );
    user = await User.findByIdAndUpdate(
      { _id: res.locals.user._id },
      {
        $push: { followings: req.params.id },
      },
      { new: true }
    );
    res.status(200).redirect(`/users/${req.params.id}`);
  } catch (error) {
    res.status(500).json({
      succeded: false,
      error,
    });
  }
};
const unfollow = async (req, res) => {
  // res.locals.user._id
  try {
    let user = await User.findByIdAndUpdate(
      { _id: req.params.id },
      {
        $pull: { followers: res.locals.user._id },
      },
      { new: true }
    );
    user = await User.findByIdAndUpdate(
      { _id: res.locals.user._id },
      {
        $pull: { followings: req.params.id },
      },
      { new: true }
    );
    res.status(200).redirect(`/users/${req.params.id}`);
  } catch (error) {
    res.status(500).json({
      succeded: false,
      error,
    });
  }
};

const updateProfilePhoto = async (req, res) => {
  try {
    const user = await User.findById(res.locals.user._id);

    if (req.files && req.files.profilePhoto) {
      // Eski profil fotoğrafını Cloudinary'den sil
      if (user.profilePhotoId) {
        await cloudinary.uploader.destroy(user.profilePhotoId);
      }

      // Yeni fotoğrafı Cloudinary'e yükle
      const result = await cloudinary.uploader.upload(
        req.files.profilePhoto.tempFilePath,
        {
          use_filename: true,
          folder: 'profile_photos',
        }
      );

      // Kullanıcının profil fotoğrafını güncelle
      user.profilePhoto = result.secure_url;
      user.profilePhotoId = result.public_id;

      // Geçici dosyayı sil
      fs.unlinkSync(req.files.profilePhoto.tempFilePath);
    }

    await user.save();
    res.status(200).redirect('/users/dashboard');
  } catch (error) {
    res.status(500).json({
      succeded: false,
      error,
    });
  }
};

export {
  createUser,
  loginUser,
  getDashboardPage,
  getAllUsers,
  getAUser,
  follow,
  unfollow,
  updateProfilePhoto,
};

userroute;
import express from 'express';
import * as userController from '../controllers/userController.js';
import * as authMiddleware from '../middlewares/authMiddleware.js';

const router = express.Router();
router.route('/register').post(userController.createUser);
router.route('/login').post(userController.loginUser);
router
  .route('/dashboard')
  .get(authMiddleware.authenticateToken, userController.getDashboardPage);
router
  .route('/')
  .get(authMiddleware.authenticateToken, userController.getAllUsers);
router
  .route('/:id')
  .get(authMiddleware.authenticateToken, userController.getAUser);
  router
  .route('/:id/follow')
  .put(authMiddleware.authenticateToken, userController.follow);
router
  .route('/:id/unfollow')
  .put(authMiddleware.authenticateToken, userController.unfollow);
router
  .route('/update-profile-photo')
  .post(authMiddleware.authenticateToken, userController.updateProfilePhoto);
export default router;

dashboard;

<%- include("partials/_header") %>
  <!-- body -->

  <body class="main-layout inner_page">
    <!-- loader  -->
    <div class="loader_bg">
      <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->

    <!-- header -->
    <%- include("partials/_menu") %>
      <!-- end header inner -->


      <!--  customers -->
      <div class="customers">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage text_align_center">
                <h2>Welcome <%= user.username %>
                </h2>
              </div>
            </div>
          </div>
           <!-- Profil Fotoğrafı Güncelleme Formu -->
           <div class="row">
            <div class="col-md-12 text_align_center">
              <form id="updateProfilePhotoForm" method="POST" action="/users/update-profile-photo" enctype="multipart/form-data">
                <input type="file" name="profilePhoto" id="profilePhoto" accept="image/*" style="display: none;">
                <label for="profilePhoto" class="read_more" style="cursor: pointer; margin-top: 20px;">Update profile photo</label>
                <button type="submit" style="display: none;">Send</button>
              </form>
            </div>
          </div>
          <!-- JavaScript ile formu otomatik gönder -->
          <script>
          document.getElementById('profilePhoto').addEventListener('change', function() {
            document.getElementById('updateProfilePhotoForm').submit();
          });
          </script>          
<!-- about me ve profil fotoğrafı -->    
              <div class="satteb text_align_center">
                <h3>About Me</h3>
                <p>fact that a reader will be distracted by the readable content of a page when looking at its
                  layout. The point of using Lorem Ipsum is that itfact that a reader will be distracted by the
                  readable content of a page when looking at its layout. The point of using Lorem Ipsum is that
                  itfact that a reader will be distracted by the readable content of a page when looking at its
                  layout. The point of using Lorem Ipsum is that itfact that a reader will be distracted by the
                  readable content of a page when looking at its layout. The point of using Lorem Ipsum is that
                  it
                </p>
                <div class="row">
                  <div class="col-md-12 text_align_center">
                    <img src="<%= user.profilePhoto %>" alt="Profil Fotoğrafı" style="width: 150px; height: 150px; border-radius: 50%; margin-top: 20px;">
                  </div>
                </div>
              </div>


          <div class="row">
            <div class="col-md-12 text_align_center">
              <button data-toggle="modal" data-target=".bd-example-modal-lg" type="button"
                style=" margin-top:100px; margin-left: 50%; transform: translateX(-50%);" class="read_more"
                href="about.html">Add New Photo</button>
            </div>
          </div>


        </div>
      </div>
      <!-- end customers  -->
    
      <% if (photos.length> 0 ) { %>
        <div class="gallery">
          <div class="container_with">
            <div class="row">
              <div class="col-md-12">
                <div class="titlepage text_align_center">
                  <h2>My Photos</h2>
                </div>
              </div>
            </div>
            <div class="tz-gallery">
              <div class="row">
             
                <% for (photo of photos) { %>
                  <div class="col-lg-4 col-md-6 ma_bottom30">
                    <div class="lightbox">
                      <img src="<%= photo.url %>" alt="<%= photo.name %>">
                      <div class="view_main">
                        <div class="pose">
                          <a class="read_more" href="/photos/<%= photo._id %>"><img src="/images/ga.png" alt="#" /></a>
                          <h3 style="padding-top:10px; padding-bottom:10px">
                            <%= photo.name %>
                          </h3>
                          <p style="padding-top:10px;">
                            <%= photo.description.substring(0, 80)+ "..." %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
             
                  <% } %>
                
              </div>
            </div>
          </div>
        </div>
     
        <% } %>

          <% if (user.followers.length> 0 ) { %>
            <div class="team">
              <div class="container_with">
                <div class="row">
                  <div class="col-md-12">
                    <div class="titlepage text_align_center">
                      <h2>FOLLOWERS</h2>
                    </div>
                  </div>
                  <% for (follower of user.followers) { %>
                    <div class="col-md-4">
                      <div class="team_box text_align_center">
                        <div class="team_img">
                          <figure><img src="/images/team1.jpg" alt="#" /></figure>
                        </div>
                        <div class="craig">
                          <h3>
                            <%= follower.username %>
                          </h3>
                          <span>PHOTOGRAPHER</span>
                          <ul class="social_icon ">
                            <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="/users/<%= follower._id %>"><i class="fa fa-external-link-square"
                                  aria-hidden="true"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <% } %>
                </div>
               
              </div>
            </div>
            <% } %>
              <% if (user.followings.length> 0 ) { %>
                <div class="team">
                  <div class="container_with">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="titlepage text_align_center">
                          <h2>FOLLOWINGS</h2>
                        </div>
                      </div>
                  
                      <% for (following of user.followings) { %>
                        <div class="col-md-4">
                          <div class="team_box text_align_center">
                            <div class="team_img">
                              <figure><img src="/images/team1.jpg" alt="#" /></figure>
                            </div>
                            <div class="craig">
                              <h3>
                                <%= following.username %>
                              </h3>
                              <span>PHOTOGRAPHER</span>
                              <ul class="social_icon ">
                                <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="/users/<%= following._id %>"><i class="fa fa-external-link-square"
                                      aria-hidden="true"></i></a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                  
                        <% } %>
                    </div>
                  </div>
                </div>
                <% } %>
                  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div style="margin-top: 50px; margin-bottom: 50px;" class="container">
                          <div class="row">
                            <div class="col-md-12 ">
                              <div class="text_align_center">
                                <h2 style="
                    font-size: 30px;
                    margin-bottom: 20px;
                    color: #D43A8E;
                ">Add New Photo</h2>
                              </div>
                            </div>
                            <div class="col-md-10 offset-md-1">
                              <form id="request" class="main_form" method="POST" action="/photos"
                                enctype="multipart/form-data">
                                <div class="row">
                                  <div class="col-md-12">
                                    <input class="form_control" placeholder="Name" type="text" name="name">
                                  </div>
                                  <div class="col-md-12">
                                    <textarea name="description" style="height: 150px;" class="form_control"
                                      placeholder="Description" rows="5"></textarea>
                                  </div>
                                  <div style="margin-bottom: 20px ;" class="col-md-12">
                                    <input type="file" name="image" class="form-control-file">
                                  </div>
                                  <div class="col-md-12">
                                    <div class="group_form">
                                      <button class="read_more">Upload File</button>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  </div>

                  <!-- end footer -->
                  <%- include("partials/_footer") %>

